<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--index-->
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.internet.shop.controllers.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--inject data-->
    <servlet>
        <servlet-name>inject data</servlet-name>
        <servlet-class>com.internet.shop.controllers.InjectDataController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>inject data</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>
    <!--All users-->
    <servlet>
        <servlet-name>All users</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetAllUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>All users</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>
    <!--Registration-->
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.internet.shop.controllers.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <!--Delete user-->
    <servlet>
        <servlet-name>Delete user</servlet-name>
        <servlet-class>com.internet.shop.controllers.DeleteUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Delete user</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>
    <!--index-->
    <servlet>
        <servlet-name>Add product</servlet-name>
        <servlet-class>com.internet.shop.controllers.AddProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add product</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>
    <!--All products-->
    <servlet>
        <servlet-name>All products</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetAllProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>All products</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>
    <!--Add product to cart-->
    <servlet>
        <servlet-name>Add product to cart</servlet-name>
        <servlet-class>com.internet.shop.controllers.AddProductToShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add product to cart</servlet-name>
        <url-pattern>/shoppingCart/product/add</url-pattern>
    </servlet-mapping>
    <!--Shopping cart-->
    <servlet>
        <servlet-name>Shopping cart</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetAllProductsFromShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Shopping cart</servlet-name>
        <url-pattern>/shoppingCart</url-pattern>
    </servlet-mapping>
</web-app>
